p{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.player-score {
    display: inline;
    padding-right: 487px;
  }

.paddle1 {
  position: absolute;
  margin-top: 100px;
  height: 80px;
  width: 8px;
  border-radius: 20px;
}

.paddle2 {
  position: absolute;
  margin-top: 100px;
  margin-left: 500px;
  height: 80px;
  width: 8px;
  border-radius: 20px;
}

.paddle-ball {
  position: absolute;
  background-color: black;
  margin-top: 200px;
  margin-left: 300px;
  height: 8px;
  width: 8px;
  border-radius: 10px;
}