p{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.player-score {
    display: inline;
    padding-right: 300px;
  }

.paddle {
  position: absolute;
  margin-top: 30px;
  height: 80px;
  width: 8px;
  border-radius: 20px;
}